* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f6f6f6;
  }
  
  .container {
    margin: 0;
    padding: 0;
  }
  
  .context {
    text-decoration: none;
    border-width: 4px;
    border-color: blue transparent blue transparent;
    border-style: solid;
    background: white;
    padding: 15px 10px;
    background-image: url('/images/background1.jpeg');
    background-size: cover;
    background-position: center;
  }
  
  #main {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
  #main ul li {
    margin: 0 15px;
    font-weight: 750;
  }
  
  #main ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s, text-decoration 0.3s;
  }
  
  #main ul li a:hover{
      color: cornflowerblue;
    text-decoration: underline 3px yellow;
  }
  .context #main #active {
    color: cornflowerblue;
    text-decoration: underline 3px yellow;
      text-underline-offset: 3px;
  }
  
  .main {
    margin: 30px 7vw;
  }
  
  .main h1 {
    color: rgb(6, 130, 231);
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    text-decoration: 2px solid underline rgb(6, 130, 231) ;
    text-underline-offset: 6px;
  }
  
  .text {
    margin: 20px 4vw;
    font-size: 19px;
    color: rgb(85, 84, 84);
    text-align: justify;
    line-height: 1.6;
  }
  
  .text p {
    margin-bottom: 15px;
  }
  
  @media (max-width: 768px) {
    #main {
      flex-direction: row;
    }
  
    .main h1 {
      font-size: 24px;
    }
  
    .text {
      margin: 20px 2vw;
      font-size: 17px;
    }
  }
  
  @media (max-width: 480px) {
    #main li {
        font-size: 16px;
      margin: 0px 8px;
    }
  
    .main h1 {
      font-size: 20px;
    }
  
    .text {
      margin: 20px 1vw;
      font-size: 15px;
    }
  }
  




 
