* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f6f6f6;
  }
  
  .container {
    margin: 0;
    padding: 0;
  }
  
  .context {
    text-decoration: none;
    border-width: 4px;
    border-color: blue transparent blue transparent;
    border-style: solid;
    background: white;
    padding: 15px 10px;
    background-image: url('/images/background1.jpeg');
    background-size: cover;
    background-position: center;
  }
  
  #main {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
  #main li {
    margin: 0 15px;
    font-weight: 750;
  }
  
  #main li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s, text-decoration 0.3s;
  }
  
  #main li a:hover{
       color: cornflowerblue;
    text-decoration: underline 3px yellow;
  }
  .context #main #active {
    color: cornflowerblue;
    text-decoration: underline 3px yellow;
      text-underline-offset: 3px;
  }
  

.main {
    margin: 30px 7vw;
}
.main h1{
    color: rgb(6, 130, 231);
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    text-decoration: 2px solid underline rgb(6, 130, 231) ;
    text-underline-offset: 6px;
}
.main h1, h2 {
    
    color: rgb(6, 130, 231);
    font-size: 28px;
    font-weight: normal;
    margin-left: 5vw;
}

h2 {
    color: black;
}

ol {
    color: rgb(85, 84, 84);
    margin-left: 6vw;
    font-size: 20px;
}

ol li {
    margin-top: 11px;
}

#list {
    list-style: none;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .main {
        margin: 20px 5vw;
    }

    .main h1, h2 {
        margin-left: 4vw;
        font-size: 24px;
    }

    ol {
        margin-left: 5vw;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    #main li {
        font-size: 16px;
      margin: 0px 8px;
    }

    .container .context ul li {
        margin: 5px;
    }

    .main {
        margin: 15px 3vw;
    }

    .main h1, h2 {
        margin-left: 3vw;
        font-size: 22px;
    }

    ol {
        margin-left: 4vw;
        font-size: 16px;
    }
}
